.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    height: 64px;
    /*border-bottom: 1px solid #cecece;*/
    display: flex;
    /*background-color: #00bcd4;*/
    background-color: #247ba0;
}

.content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    /*position: relative;*/
}

.navigate {
    height: 100%;
    /*border: 1px solid blue;*/
    display: flex;
    gap: 20px;
}

.navigate_link, .navigate_auth {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
}

.auth_isAuth {
    position: absolute !important;
    top: -1000px;
}

.support {
    /*margin-left: 15px;*/
}

.lang_mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin: 0 10px;
    margin-top: 14px;
}

.lang_text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 10px;
    /*border-radius: 50%;*/
    border: 1px solid lightgray;
    /*background-color: lightgray;*/
    font-size: 1.1rem;
    font-weight: 500;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: lightgray;
    line-height: 0;
    cursor: pointer;
    user-select: none;
}

.login_btn_mobile {

    border: 1px solid red;
}

.lang_text_active {
    background: rgba(36, 123, 160, 0.1);
    color: #fff;
    border: 1px solid #fff;
}

.line {
    position: absolute;
    left: 0;
    bottom: 10px;
    height: 3px;
    border-radius: 20px;
    width: 0px;
    background-color: lightgrey;
    transition: 0.3s ease;
}

.line1 {
    transform: translateX(0%);
}

.line2 {
    transform: translateX(20%);
}

.line3 {
    transform: translateX(40%);
}

.line4 {
    transform: translateX(60%);
}

.line5 {
    transform: translateX(80%);
}

.navigate_link a, .navigate_auth a, .navigate_auth p {
    cursor: pointer;
    padding: 0 15px;

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    transition: .3s all;
}

.login_text {
    color: #fff;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    transition: .3s all;
}

.navigate_link a:hover, .navigate_auth a:hover {
    color: lightgrey;
}

.lang {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ru, .en {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #247ba0;
    line-height: 0;
    cursor: pointer;
    user-select: none;
}

.ru {
    position: relative;
    z-index: 2;
}

.en {
    position: absolute;
    top: 0px;
    background-color: lightgray;
    z-index: 1;
    opacity: 1;
    transition: .4s all;
}

.login {
    position: relative;
    display: flex !important;
    overflow: hidden;
    /*margin: 0 15px !important;*/
    padding: 10px 15px !important;
    margin-right: 15px;
    border: 1px solid lightgrey;
    height: fit-content !important;
    z-index: 1;
    border-radius: 20px;
    /*width: 100px;*/
}

.login div {
    position: absolute !important;
    opacity: 0.01;
    z-index: 2 !important;
}

/*.login div iframe {*/
/*    width: 100px !important;*/
/*}*/

.en_active {
    opacity: 1;
    animation: fadeInOut .4s;
    overflow: hidden;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
}

.active {
    color: #fff !important;
}

.active:hover {
    color: #fff !important;
}

.mobile_navigate {
    display: none;
}

@media screen and (max-width: 1024px) {
    .navigate {
        display: none;
    }

    .mobile_navigate {
        display: flex;
    }

    .login {
        position: relative;
        display: flex !important;
        overflow: hidden;
        /*margin: 0 15px !important;*/
        padding: 12px 16px !important;
        margin-right: 0px;
        border: none;
        /*border: 1px solid green;*/
        width: 100%;
        height: fit-content !important;
        z-index: 1;
        border-radius: 0px;
        /*width: 100px;*/
    }

    .login_text {
        margin: 0;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: 0.00938em;
        display: block;
    }

    .login > div {
        opacity: 0.001;
        z-index: 2 !important;
        /*border: 1px solid red;*/
        top: 0;
        width: 100%;
        height: 100%;
        left: 0;
    }
}

.logo {
    height: 100%;
    /*border: 1px solid red;*/
    position: absolute;
    left: calc(220px / 2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_png {
    height: 40px;
    width: auto;

}