.main, .content {
    width: 100%;
}

.main {
    padding: 40px 0;
    /*margin-top: 40px;*/
}

.navigate {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}

.navigate_item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .4s all;
    color: #7b7b7b;
    font-size: 1.6em;
    font-family: 'Poppins', sans-serif;
    line-height: 2rem;
    font-weight: 400;
    width: fit-content;
    padding: 0 40px;
}

.navigate_item:hover {
    color: rgba(0, 0, 0, 0.4);
}

.line {
    position: absolute;
    left: 0;
    bottom: -10px;
    border-radius: 20px;
    background-color: #247ba0;
    transition: 0.3s ease;
    width: 150px;
    height: 3px;
}

.navigate_item_active {
    color: #247ba0;
}

.navigate_item_active:hover {
    color: #247ba0;
}

.navigate_data {
    /*margin-top: 45px;*/
    margin-top: 95px;
    opacity: 0;

    transition: .4s all;
}

.navigate_data_animated {
    animation: fadeOut .4s ease-in-out forwards;
}

.navigate_data_animated_v2 {
    margin-top: 95px;
    opacity: 0;
    animation: fadeIn .4s ease-in-out forwards;
}

@keyframes fadeOut {
    from {
        margin-top: 95px;
        opacity: 0;
    }
    to {
        margin-top: 45px;
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        margin-top: 95px;
        opacity: 0;
    }
    to {
        margin-top: 45px;
        opacity: 1;
    }
}

.item {
    border-top: 1px dotted rgba(0, 0, 0, 0.87);
    padding: 40px 0;
    color: rgba(0, 0, 0, 0.87);
}

.item_title {
    font-size: 1.6em;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
    font-style: normal;
    line-height: 1.8;
    font-family: 'Poppins', sans-serif;
}

.item_desription_title {
    padding: 10px 0;
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.1em;
    font-weight: 400;
    font-style: normal;
    line-height: 1.8;
}
