.title {
    margin: 0;
}

.navigate {
    margin-top: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search_input {
    max-width: 440px;
    width: 100%;
}

.btn {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    margin-left: 3px;
    background: #247ba0;
    transition: .28s all;
}

.button:hover button span div {
    background: rgba(36, 123, 160, 0.01) !important;
}


.table_text {
    padding: 10px;
    line-height: 130%;
    font-family: Poppins, sans-serif;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.id {
    display: block;
    /*border: 1px solid red;*/
    height: fit-content !important;
    padding: 0;
    margin: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table_text_link {
    color: #247ba0;
    display: block;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.table_wrapp {
    margin-top: 24px;
    height: 100%;
}

.table {
    height: 100%;
}

.pagination {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
}

.table_text_action {
    display: flex;
    align-items: center;
    gap: 4px;
}

.code {
    color: #247ba0;
    cursor: pointer;
}

.delete {
    color: #d32f2f;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .navigate {
        flex-direction: column;
        gap: 8px;
    }

    .button, .button button {
        width: 100%;
    }

    .pagination {
        flex-direction: column-reverse;
        align-items: flex-end;
    }
}